# Homework Assignment #1

## Question #1

In [3]:
radius = 5.5 #DEFINE R FIRST

In [4]:
pi = 3.14159

In [5]:
print (pi*radius*radius)  #AREA=PI(R2)

95.0330975

In [ ]:
#with integers it will multiply

## Question #2

In [6]:
name = "Donna Mcwilliam"

In [7]:
name

'Donna Mcwilliam'

In [8]:
name = "Mc William , Donna"

In [9]:
name

'Mc William , Donna'

In [1]:
first = "Donna"

In [2]:
last = "Mc William"

In [3]:
print(first, last)

Donna Mc William

In [5]:
print(last, ",", first)

Mc William , Donna

In [ ]:
#WHEN DEALING WITH STRINGS, THE PLUS WILL BE JOINING TO TWO THINGS.

In [13]:
fruit = "pineapple" 
fruit*3
#with strings, * mean to repeat

'pineapplepineapplepineapple'

## Question #3

In [1]:
25 % 5  # When you get zero as an answer then it is divisible!

0

In [2]:
31 % 5

1

## Question #4

In [170]:
a = 1
b = a * 2
c =2 * b +1

In [171]:
print(a)
print(b)
print(c)

1
2
5

## Question #5

In [172]:
a = 2
b = a * 2
c = b ** a  #4squared
a = c % 2

In [173]:
print(a)
print(b)
print(c)

0
4
16

## Question # 6

In [14]:
a = 5
b = a // 2 #Floor division 2
c = a / 2 #Floor division 2.50
a = a % 2

In [15]:
print(a)
print(b)
print(c)

1
2
2.5

## Question #7

In [16]:
print("Hello, world!")

Hello, world!

In [26]:
print("Hello", "World") #Seperate words.

Hello World

In [27]:
print(3)   #printing "3"

3

In [28]:
print(3.0)  #printing "3.0"

3.0

In [29]:
print(2 + 3)  #printing 2 plus 3

5

In [30]:
print(2.0 + 3.0)  #printing 2.0 + 3.0 floats

5.0

In [31]:
print (2 * 3)  #printing 2 times 3 integer

6

In [35]:
 print(2**3)    #printing power assignment 2*2*2

8

In [36]:
print(7/3)       #printing division

2.3333333333333335

In [37]:
print(7//3)       #printing floor division

2

## Question #8

In [81]:
name = "Donna"

In [82]:
name

'Donna'

In [84]:
age = 26 #needs to be without the "".

In [163]:
age

26

In [168]:
year = str((2020-26) + 100)

In [169]:
print(name + " will be 100 years old in the year " + year)

Donna will be 100 years old in the year 2094

In [ ]:
# Found out what the age person is and deduct to 100.

In [ ]:
#1) current year = 2020 and then I need to figure out
#how many years I need to add to 2020.
#Get the age and subtract 100
#Add "age difference" to 2020

In [6]:
name = "Donna Mc William"

In [7]:
age= 26

In [8]:
age

26

In [11]:
year=2020+(100-age)

In [12]:
year

2094

## Question #9

In [18]:
list(range(3, 19, 2))

[3, 5, 7, 9, 11, 13, 15, 17]

In [19]:
list(range(3,20,2))

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#the list of the values will include the first parameter, not include the 
#second because it is up to but not including), the third parameter is the 
#step

## Question 10

In [121]:
a = 21
b = 10
c = 0

In [122]:
c = a + b
print("Line 1 - Value of c is", c)

Line 1 - Value of c is 31

In [123]:
c += a

In [124]:
print("Line 2 - Value of c is", c)

Line 2 - Value of c is 52

In [125]:
c*= a

In [126]:
print("Line 3 - Value of c is", c)

Line 3 - Value of c is 1092

In [127]:
c/= a

In [128]:
print("Line 3 - Value of c is", c)

Line 3 - Value of c is 52.0

In [129]:
c= 2

In [130]:
print("Line 4 - Value of c is", c)

Line 4 - Value of c is 2

In [131]:
c%=a

In [132]:
print("Line 5 - Value of c is", c)

Line 5 - Value of c is 2

In [133]:
c**=a

In [134]:
print("Line 6 - Value of c is", c)

Line 6 - Value of c is 2097152

In [135]:
c//=a

In [136]:
print("Line 7 - Value of c is", c)

Line 7 - Value of c is 99864